<style>
  .wrapper {
    display: flex;
    align-items: center;
  } 
  .wrapper h4 {
    margin-right: 2%;
  }
  .wrapper button  {
    background-color: var(--accent-bg);
    height: 40%;
  }
 </style>
<p style="color: green"><%= notice %></p>
<div class="wrapper">
  <h4><%= @code.description %></h4>
  <button onclick="copyText(c<%= @code.id %>)">
    <svg style="width: 25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path d="M384 96L384 0h-112c-26.51 0-48 21.49-48 48v288c0 26.51 21.49 48 48 48H464c26.51 0 48-21.49 48-48V128h-95.1C398.4 128 384 113.6 384 96zM416 0v96h96L416 0zM192 352V128h-144c-26.51 0-48 21.49-48 48v288c0 26.51 21.49 48 48 48h192c26.51 0 48-21.49 48-48L288 416h-32C220.7 416 192 387.3 192 352z"/>
    </svg>
  </button>
</div>
<pre><code class="language-bash" id="c<%= @code.id %>"><%= @code.code_text %></code></pre>
<div>
  <%= link_to root_path do %>
    <button>Voltar</button>
  <% end %>
</div>


<script>
  function copyText(id) {
    let text = id.innerText
    navigator.clipboard.writeText(text);
  }
</script>

<script>hljs.highlightAll();</script>
